* {
	font-family: 'Chakra Petch';
}

html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	background-image: url(./images/bgcosmos.jpg);
	background-color: black;
	display: grid;
	grid-template-columns: auto 0px;
}

body::-webkit-scrollbar {
	display: none;
}

nav {
	height: 8vh;
	widows: 100vw;
	position: relative;
	animation-name: fornav;
	animation-duration: 2s;
	animation-delay: 0s;
}

@keyframes fornav {
	0% {top: -200px;}
	100% {top: 0px;}
}

#good3 {
	height: 500px;
	width: 600px;
	margin-top: 10vh;
	position: relative;
	opacity: 0.75;
	animation-name:  good3;
	animation-duration: 4s;
	animation-delay: 0s;
	transition: transform 250ms;
	filter: drop-shadow(0 0 0.75rem rgb(15, 82, 186));
}
@keyframes good3 {
	0% {right: -700px;}
	100% {right: 0px;}
}

#good3:hover {
	height: 500px;
	width: 600px;
	margin-top: 10vh;
	position: relative;
	transform: translateY(-10px);
	filter: drop-shadow(0 0 0.75rem rgb(167, 199, 231));
}

#intro {
	position: relative;
	animation-name: intro;
	animation-duration: 5s;
	animation-delay: 0s;
}
@keyframes intro {
	0% {left: -1600px;}
	100% {left: 0px;}
}


.totop {
  --offset: 50px;
  position: sticky;
  bottom: 20px;      
  margin-right:10px; 
  place-self: end;
  margin-top: calc(100vh + var(--offset));
  text-decoration: none;
  padding: 10px;
  font-family: sans-serif;
  color: #F0FFFF;
  background: rgb(70, 130, 180);
  border-radius: 100px;
  white-space: nowrap;
}

#hi {
	margin-top: 2.5rem;
	font-size: 5rem;
	color: #ADD8E6;
}

#fswd {
	font-size: 4rem;
	color: #40B5AD;
}

#psn {
	font-size: 2rem;
	color: #F0FFFF;
}

#sH1 {
	font-size: 5rem;
	color: #F0FFFF;
}
#sH2 {
	font-size: 5rem;
	color: #F0FFFF;
}
#sH3 {
	font-size: 5rem;
	color: #F0FFFF;
}

#prflio {
	background-color: #008080;
	color: #F0FFFF;
	width: 30rem;
}
#gitbash {
	background-color: #008080;
	color: #F0FFFF;
	width: 17rem;
	margin-bottom: 2rem;
	margin-right: 5rem;
}
#ST {
	background-color: #008080;
	color: #F0FFFF;
	width: 17rem;
	margin-bottom: 2rem;
	margin-right: 2rem;
}
#Html {
	background-color: #008080;
	color: #F0FFFF;
	width: 17rem;
	margin-bottom: 2rem;
	margin-right: 2rem;
}
#css {
	background-color: #008080;
	color: #F0FFFF;
	width: 17rem;
	margin-bottom: 2rem;
	margin-right: 2rem;
}
#bsrap {
	background-color: #008080;
	color: #F0FFFF;
	width: 17rem;
	margin-bottom: 2rem;
	
}